<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <form [formGroup]="editUser" (ngSubmit)="onEdit(editUser.value)">
  <ion-item   style="margin-top:20px">
    <ion-label><b>UserName :</b></ion-label>
    <ion-input type="text" formControlName="userName" class="form-control"
    placeholder="User name"></ion-input>
  </ion-item>
  <ion-item  style="margin-top:20px">
  <ion-label><b>Phone :</b></ion-label>
  <ion-input placeholder="Phone" type="text" formControlName="phone"></ion-input>
    </ion-item>
  <ion-item  style="margin-top:20px">
    <ion-label><b>Email :</b></ion-label>
    <ion-input placeholder="Email" type="text" formControlName="email"></ion-input>
    </ion-item>
  <ion-item  style="margin-top:20px">
    <ion-label><b>Address :</b></ion-label>
    <ion-input placeholder="Address" type="text" formControlName="address"></ion-input>
    </ion-item>
  <ion-item  style="margin-top:20px">
    <ion-label>
      <ion-button type="edit"><b>Edit</b></ion-button>
    </ion-label> 
  </ion-item >
</form>
</ion-content>
